[tool.poetry]
name = "vpype"
version = "1.3.0-alpha.0"
description = "The Swiss Army knife of vector graphics for pen plotters"
authors = ["Antoine Beyeler <abeyeler@ab-ware.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/abey79/vpype"
documentation = "https://vpype.readthedocs.io/en/latest/"
classifiers = [
    "Development Status :: 4 - Beta",
    "Environment :: Console",
    "Topic :: Artistic Software",
    "Topic :: Multimedia :: Graphics",
]
packages = [
    { include = "vpype" },
    { include = "vpype_cli" },
    { include = "vpype_viewer"},
]
include = [
    "README.md",
    "CHANGELOG.md",
    "LICENSE",
    "vpype/*.toml",
    "vpype_viewer/shaders/*.glsl",
]

[tool.poetry.scripts]
vpype = "vpype_cli.cli:cli"

[tool.poetry.dependencies]
python = ">=3.6.1, <3.9"
attrs = "~20.3.0"
cachetools = "^4.2.0"
click = "~7.1.2"
click-plugins = "~1.1.1"
matplotlib = "~3.3.2"
moderngl = "^5.6.2"
multiprocess = "^0.70.11"
numpy = "~1.19.5"
Pillow = "^8.1.0"
PySide2 = "^5.15.2"
Shapely = {extras = ["vectorized"], version = "~1.7.1"}
scipy = "~1.5.4"
setuptools = "^51.0.0"
svgelements = "1.3.5"
svgwrite = "~1.4"
toml = "~0.10.2"

# these needs to be there because of https://github.com/python-poetry/poetry/issues/1145
Sphinx = { version = "^3.3.0", optional = true }
sphinx-click = { version = "^2.5.0", optional = true }
sphinx-autodoc-typehints = { version = "^1.11.1", optional = true }
sphinx-rtd-theme = { version = "^0.5.0", optional = true }
recommonmark = { version = ">=0.6,<0.8", optional = true }

[tool.poetry.dev-dependencies]
coverage = {extras = ["toml"], version = "^5.3.1"}
pytest = "^6.2.1"
pytest-cov = "^2.11.0"
black = "^20.8b1"
isort = "^5.7.0"
mypy = "^0.790"
pyinstaller = "^4.2"
packaging = "^20.8"
pytest-mpl = "^0.12"

[tool.poetry.extras]
docs = ["Sphinx", "sphinx-click", "sphinx-autodoc-typehints", "sphinx-rtd-theme", "recommonmark"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"


[tool.coverage.run]
source = ["."]
omit = [
    "*/.tox/*",
    "*/__main__.py",
    "*/setup.py",
    "*/venv*/*",
    "vpype_viewer/qtviewer/*",  # cannot be tested
]

[tool.coverage.report]
show_missing = true
skip_covered = true
exclude_lines = [
    "pragma: no cover",
    "def __repr__",
    "if self.debug:",
    "if settings.DEBUG",
    "raise AssertionError",
    "raise NotImplementedError",
    "if 0:",
    "if __name__ == .__main__.:",
]

[tool.black]
line-length = 95
target-version = ["py36", "py37", "py38"]

[tool.isort]
profile = "black"
line_length = 95
src_paths = ["vpype", "vpype_cli", "vpype_viewer", "tests"]
