# base
click
click-plugins
matplotlib
numpy
rtree
shapely[vectorized]
svgwrite

git+https://github.com/abey79/svgpathtools@vpype-fixes#egg=svgpathtools


# dev/test
pytest
black
sphinx
sphinx-click
sphinx-autodoc-typehints