name: Checks, Tests and Installer

on:
  push:
    branches:
      - master
      - release/*
  pull_request:
    branches:
      - master
      - release/*

jobs:

  # ----------------------------------------
  code-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install poetry
        run: pipx install poetry
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          cache: 'poetry'
      - name: Install project
        run: poetry install -E all
      - name: Lint and static analysis
        run: |
          poetry run isort --check --diff vpype vpype_cli vpype_viewer tests
          poetry run black --check --diff vpype vpype_cli vpype_viewer tests
          poetry run mypy


  # ----------------------------------------
  tests:
    needs: ['code-checks']
    strategy:
      fail-fast: true
      matrix:
        python-version: [3.8, 3.9, '3.10']
        os: [ubuntu-latest, macos-latest, windows-latest]
    defaults:
      run:
        shell: bash
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3
    - name: Install poetry
      run: pipx install poetry
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'poetry'
    - name: Install project
      run: poetry install -E all
    # needed for tests to work on ubuntu (libEGL.so.1)
    - name: Install EGL mesa
      if: matrix.os == 'ubuntu-latest'
      run: |
        sudo apt-get update -y -qq
        sudo apt-get install -y -qq libegl1-mesa libegl1-mesa-dev
    # PYTEST STRATEGY
    # macOS is the only runner who has working ModernGL behaviour
    # macOS + 3.10 is used for code coverage
    - name: Pytest (code coverage)
      run: |
        poetry run pytest --cov=./ --cov-report=xml
      if: matrix.os == 'macos-latest' && matrix.python-version == '3.10'
    - name: Pytest
      run: |
        poetry run pytest
      if: (matrix.os == 'macos-latest' && matrix.python-version != '3.10') || (matrix.os == 'ubuntu-latest')  # img similarity work with linux?
    - name: Pytest (no image similarity check)
      run: |
        poetry run pytest --skip-image-similarity
      if: matrix.os != 'macos-latest'
    - name: Upload comparison test results
      if: failure()
      uses: actions/upload-artifact@v3
      with:
        name: test_report_${{ runner.os }}_${{ matrix.python-version }}
        path: |
          test_report_img_sim/**/*
          test_report_reference_svg/**/*
        if-no-files-found: ignore
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./coverage.xml
      if: matrix.os == 'macos-latest' && matrix.python-version == '3.10'


  # ----------------------------------------
  windows-installer:
    defaults:
      run:
        shell: bash
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3
    - name: Install poetry
      run: pipx install poetry
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
        cache: 'poetry'
    - name: Install project
      run: poetry install -E all
    - name: Run PyInstaller
      run: | 
        VERSION="`poetry version --short`-${GITHUB_SHA}"
        echo "version=${VERSION}" >> $GITHUB_ENV
        poetry run scripts/build.bat
    - name: Create NSIS installer
      uses: joncloud/makensis-action@v3.3
      with:
        script-file: scripts\installer_win.nsi
        arguments: /V4 /DVERSION=${{ env.version }}
    - uses: actions/upload-artifact@v3
      with:
        name: vpype-${{ env.version }}-setup.exe
        path: dist/vpype-${{ env.version }}-setup.exe
